<h1>Projects</h1>
<ul>
  <li *ngFor="let project of projects$ | async">
    <a href="#" (click)="selectProject(project.id);">{{ project.title }}</a>&nbsp;<button
    (click)="deleteProject(project.id)">Delete Project
  </button>
    <div *ngIf="(selectedProjectId$ | async) === project.id">
      <form (ngSubmit)="updateProject({ title: input.value, id: project.id })">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" [ngModel]="project.title" #input />
        <button>Update</button>
      </form>
    </div>
  </li>
</ul>


<h3>Selected Project: {{ (currentProject$ | async)?.title }}</h3>
